<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOINGLY</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <header class="hero">
            <h1><span>Things to do </span><span class="add-todo" role="button">+</span></h1>
        </header>
        <ul class="todos-list">
            <!-- <% articles.forEach((article)=> { %>
                <li>
                    <p class="todo">
                        <%= article %>
                    </p>
                </li>
                <hr />
                <% }) %> -->
            <li class="todo-list-item completed">
                <span class="shopping">shopping</span>
                <div class="">
                    <h3 class="todo-title">
                        Lorem, ipsum.
                    </h3>
                    <p class="todo-description">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </li>
            <li class="todo-list-item">
                <span class="study">study</span>
                <div class="">
                    <h3 class="todo-title">
                        Lorem ipsum dolor sit.
                    </h3>
                    <p class="todo-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, mollitia!
                    </p>
                </div>
            </li>
            <li class="todo-list-item">
                <span class="sport">sport</span>
                <div class="">
                    <h3 class="todo-title">
                        Lorem, ipsum dolor.
                    </h3>
                    <p class="todo-description">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </li>
        </ul>

    </div>

    <div class="add-todo-form">
        <form action="addtodo" method="post">
            <div>
                <label for="title">Title</label>
                <input id="title" name="title">
            </div>
            <div>
                <label for="description">Description</label>
                <input id="description" name="title">
            </div>
            <div>
                <label for="category"></label>
                <select name="category" id="category">
                    <option name="">SPORT</option>
                    <option name="">STUDY</option>
                    <option name="">SHOPPING</option>
                    <option name="">EXERCISE</option>
                    <option name="">TRAVEL</option>
                </select>
            </div>
            <button type="submit" class="add-todo-btn">ADD</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('form');
        const container = document.querySelector('.container');
        const addBtn = document.querySelector('.add-todo');
        form.addEventListener('submit', () => {
            form.style.display = 'none';
            container.style.display = 'block';
        })
        addBtn.addEventListener('click', () => {
            form.style.display = 'block'
            container.style.display = 'none'
        })
    </script>
</body>

</html>