<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div class="container">
            <h1>
                Ooops! It seems account already exist
            </h1>
            <img src="./public/undraw_Forgot_password_re_hxwm.png" alt="">
            <form method="post" action="welcomeBack">
                <button type="submit">login</button>
            </form>
        </div>
    </body>

</html>