<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO | Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <main class="sign-up-form">
        <h1 class="sign-up-title">Sign up</h1>
        <p class="sign-up-intro">Welcome to Doingly
            Doingly will helps you to stay organized and perform your tasks much faster</p>
        <form action="signup" method="post">
            <label for="email">Email</label>
            <input type="email" required name="email" id="email">
            <label for="password">Password</label>
            <input type="password" max="20" min="8" name="password" id="password">
            <div class="checkbox">
                <input type="checkbox" id="" name="tnc" required> <label for="tnc">Agree to terms and condition</label>
            </div>
            <button type="submit">submit</button>
            <p>already have a account ? <a href="/login">Login</a></p>
        </form>
    </main>
</body>

</html>